@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* DEIXEI IMPORTADO NO CSS E HTML PRA VC DAR UMA OLHADA */

*{
box-sizing: border-box;
}
.top-bar{
  -webkit-box-shadow: 0px 5px 8px 0px #616161; 
  box-shadow: 0px 5px 8px 0px #616161;
  padding: 18px 21px;
  font-family: 'Righteous', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: red;
  width: 614px;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
}
.top-bar h1{
  color: white;
  font-size: 44px;
}
.top-bar h2{
  color: white;
  font-size: 18px;
}

.container{
  margin-top: 93px;
}


.confirmation-bar{
  background-color: blueviolet;
  width: 614px;
  height: 92px;
  position: fixed;
  bottom: 0;
  left: 0;
}
