@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&family=Righteous&family=Roboto:wght@300;700&display=swap');
/* DEIXEI IMPORTADO NO CSS E HTML PRA VC DAR UMA OLHADA */

*{
box-sizing: border-box;
}
body{
  max-width: 426px;
  width: 100%;
}
.cart-page{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: inherit;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}
.blur{
  position: fixed;
  top: 0;
  left: 0;
  width:inherit;
  height: 100%;
  filter: opacity(85%);
  background-color: black;
  z-index: 2;
}
.cart{
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  width: 370px;
  height: auto;
  border-radius: 10px;
  background-color: #50D074;
}

.cart h2{
  text-align: center;
  font-weight: 400;
  color: white;
  font-size: 25px;
  margin-bottom: 28px;
}
.principal{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}
.bebida{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.sobremesa{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.total{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.final-conf {
  font-family: 'Roboto';
  font-weight: 700;
  color: #50D074;
  width: 334px;
  height: 52px;
  border-radius: 40px;
  background-color: white;
  font-size: 22px;
}
.cancelar{
  font-weight: 700;
  color: white;
  width: 334px;
  height: 48px;
  border-radius: 40px;
  background-color: #50D074;
  font-size: 22px;
}
.cart p{
  
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 22px;
  color: white;
}
.hide{
  display: none;
}
.top-bar{
  -webkit-box-shadow: 0px 5px 8px 0px #616161; 
  box-shadow: 0px 5px 8px 0px #616161;
  padding: 18px 21px;
  font-family: 'Righteous', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: red;
  width: inherit;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}
.top-bar h1{
  color: white;
  font-size: 44px;
}
.top-bar h2{
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  color: white;
  font-size: 18px;
}
.total p{
  font-weight: 700;
}
.container{
  width: inherit;
  max-height: 100%;
  font-family: 'Righteous', cursive;
  margin-top: 92px;
  margin-bottom: 92px;
  background-color: #EEEEEE;
}

.cards {
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  padding: 18px 14px;
  margin-right: 15px;
  width: 172px;
  height: 216px;
  background-color: white;
  position: relative;
  border: 3px solid white;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 5px #32B72F inset;
  box-shadow: 0px 4px 4px 0px #00000040;
  

}
.cardsDrink {
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  padding: 18px 14px;
  margin-right: 15px;
  width: 172px;
  height: 216px;
  background-color: white;
  position: relative;
}
.cardsDessert {
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  padding: 18px 14px;
  margin-right: 15px;
  width: 172px;
  height: 216px;
  background-color: white;
  position: relative;
}
img{
  width: 144px;
  height: 86px;
  border-radius: 4px;
  object-fit: cover;
}
ion-icon{
  position: absolute;
  bottom: 10px;
  right: 15px;
  font-size: 20px;
  color: green;
}
.hidden{
  display: none;
}

.hiddenDrink{
  display: none;
}
.hiddenDessert{
  display: none;
}
.main-box {
  padding-top: 30px;
  margin-left: 15px;
}
.options{
  overflow-x: scroll;
  display: flex;
}
.options::-webkit-scrollbar{
  display: none;
}

.text-price{
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
h1{
  font-size: 26px;
  margin-bottom: 16px;
}
h2{
  font-weight: 700;
  font-size: 16px;
}

h3{
  font-weight: 700;
  font-size: 16px;
}

p{
  color: #A6A6A6;
  font-weight: 300;
  font-size: 15px;
}

.main-drink {
  height: auto;
  padding-top: 30px;
  margin-left: 15px;
}

.main-dessert {
  padding-top: 30px;
  margin-left: 15px;
}

.confirmation-bar{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: 92px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.confirmation-button{
  width: 400px;
  height: 75px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  border-radius: 40px;
  color: white;
  background-color: lightgrey;
  border: none;
}

button{
  border: none;
}

.selecionado{
  border: 3px solid #32B72F;
  border-radius: 10px;
}

.selecionadoDrink{
  border: 3px solid #32B72F;
  border-radius: 10px;
}
.selecionadoDessert{
  border: 3px solid #32B72F;
  border-radius: 10px;
}
